# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# Environment variables
.env

# Uploaded files
uploads/

# Node
node_modules/

# Build
dist/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db